@use '../scss/variables.scss' as *;
html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

// body {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     background-color: $background-color;
//     color: $text-color;
//     line-height: 1.6;
// }